/**************************************************************

                   TAIPY EXPANDABLE

***************************************************************/

/*************************************************
              OVERRIDES / NORMALIZATION
**************************************************/

/* Fix bottom radius */
.taipy-expandable.MuiPaper-rounded{
  border-radius: var(--border-radius);
}

/* Expandable button label */
.taipy-expandable .MuiAccordionSummary-content{
  font-weight: 600;
  transition: color var(--transition-duration);
}
.taipy-expandable .MuiAccordionSummary-content:hover{
  color: var(--color-primary);
}
