#Git
.git*

#Cache
*_cache

#Data
.data

#md files
*.md
!README*.md
!HISTORY.md

#IDE
Pipfile.lock
.idea

#Folder
tools
demos
docs

#yml & yaml
*.yml
*.yaml

#others
.coveragerc
.editorconfig
.flake8
pyproject.toml
release.sh
tox.ini
.isort.cfg

#docker
docker
.dockerignore
