# Environment files
.env
.venv
.envrc

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
Pipfile.lock
build/
*.egg-info/

# mypy
.mypy_cache/
dist/

# IDE settings
.vscode/
.idea/
.idea/taipy.iml
.DS_Store

# Core .data directory
.data/

# demo files
demo-*
demo_*/

# Gui node_modules
gui/node_modules
