[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
taipy-gui = {git = "https://git@github.com/Avaiga/taipy-gui.git@develop"}
taipy-rest = {git = "https://git@github.com/Avaiga/taipy-rest.git@develop"}

[dev-packages]
pytest = "*"

[requires]
python_version >= "3.8"

[pipenv]
allow_prereleases = true
