body {
  transition: all 0.25s;
}

.taipy-watermark {
  display: none;
}

.taipy-chart {
  display: flex;
  justify-content: center;
  text-align: center;
  transition: all 0.25s;
}

.taipy-chart > div {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}
