name: Test package installation

on:
  push:
    branches: [ develop ]
  pull_request:
    branches: [ develop ]
  schedule:
    - cron: "0 8 * * *"

jobs:
  standard-packages:
    timeout-minutes: 10
    strategy:
      matrix:
        python-versions: [ '3.8', '3.9', '3.10', '3.11' ]
        os: [ ubuntu-latest, windows-latest, macos-latest ]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-versions }}

      - name: Test packaging
        run: |
          pip install .
