.list {
  display: flex;
  flex-direction: column;
  flex-shrink: column;
  gap: 2px;
  width: 200px;
  height: 400px;
  overflow-y: scroll;
  padding: 5px;
}

.move {
  padding: 0 5px 0;
  width: 65px;
  background-color: rgba(0, 0, 0, 0);
  font-weight: normal;
  user-select: none;
}

.move:hover {
  background-color: rgba(255, 255, 255, 0.25);
  cursor: pointer;
}

.selected {
  cursor: pointer;
  padding: 0 5px 0;
  width: 65px;
  background-color: rgba(255, 213, 0, 0.35);
  box-shadow: 0px 1.5px 0px 0px rgba(255, 255, 255, 0.75);
  font-weight: bold;
  user-select: none;
}

@media (max-width: 700px) {
  .list {
    height: 200px;
  }
}
