.board {
  width: fit-content;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(8, 50px);
  grid-template-rows: repeat(8, 50px);
}

.panel {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: rgba(0, 0, 0, 0.25) 1px solid;
  border-radius: 5%;
  width: 625px;
  height: fit-content;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;
  padding: 10px;
}

.square {
  z-index: 1;
  color: rgba(252, 243, 73, 1);
  font-weight: bold;
  margin-left: auto;
  font-size: 10px;
}

.heatmapBarText {
  position: absolute;
  margin-left: 2.5px;
  left: 10px;
  height: 10%;
  font-size: 15px;
}

@media (max-width: 700px) {
  .container {
    width: 500px;
  }
}

@media (max-width: 500px) {
  .square {
    font-size: 8px;
  }

  .heatmapBarText {
    font-size: 12px;
  }

  .board {
    height: 280px;
  }

  .container {
    width: 350px;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(8, 35px);
    grid-template-rows: repeat(8, 35px);
  }
}

@media (max-width: 350px) {
  .board {
    height: 200px;
  }

  .heatmapBarText {
    font-size: 10px;
  }

  .container {
    width: 250px;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(8, 25px);
    grid-template-rows: repeat(8, 25px);
  }

  .opening_name {
    font-size: medium;
  }

  .players {
    display: none;
  }
}
