html, body{
  height: 100%;
}

#root{
  height: 100%;
  margin: 0 !important;
}

/* Color mode body */
.taipy-dark,
.taipy-light{
  min-height: 100%;
}

#root main{
  min-width: 0;
}

.main{
  min-width: 0;
  max-width: 100%;
}

/*************************************************
              CUSTOM SCROLLBAR
**************************************************/

*{
  -webkit-overflow-scrolling: touch;

  /* Firefox scrollbar */
	scrollbar-width: thin;
	scrollbar-color: var(--custom-scrollbar-thumb-color) var(--custom-scrollbar-rail-color);
}
/* Webkit scrollbar */
*::-webkit-scrollbar{
	width: var(--custom-scrollbar-width);
}
*::-webkit-scrollbar-track{
	background: var(--custom-scrollbar-rail-color);
}
*::-webkit-scrollbar-thumb{
	background-color: var(--custom-scrollbar-thumb-color);
	border-radius: 20px;
	border: none;
}

/*************************************************
              TABLES
**************************************************/

table {
  max-width: 100%;
}