/**************************************************************

                TYPOGRAPHY STYLES

***************************************************************/

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6{
  display: block;
  line-height: 1.2;
  font-weight: var(--font-weight-heading);
}

h1, .h1 {
  font-size: var(--font-size-h1);
}

h2, .h2 {
  font-size: var(--font-size-h2);
}

h3, .h3 {
  font-size: var(--font-size-h3);
}

h4, .h4 {
  font-size: var(--font-size-h4);
}

h5, .h5 {
  font-size: var(--font-size-h5);
}

h6, .h6 {
  font-size: var(--font-size-h6);
}

.text_body{
  font-size: var(--font-size-body);
}

.text_small{
  font-size: var(--font-size-small);
}

.text_caption{
  font-size: var(--font-size-caption);
}