:root {
  --md-primary-fg-color:        #293183;
  --md-primary-fg-color--light: #f6921b;
  --md-primary-fg-color--dark:  #ec693c;
}
.md-header__button.md-logo img {
    width: 48px;
    height: 48px;
}

[data-md-color-scheme="slate"] {
  --md-hue: 240; 
}

a.ext-link:after {
    display: inline-block;
    content: url("../images/ext-link.svg");
    width: .7em;
    height: .7em;
    margin: 0 3px 0 3px;
    /* Does nothing, surprisingly
    fill: #ff0000;
    */
}
