:root {
  --md-primary-fg-color:        #293183;
  --md-primary-fg-color--light: #f6921b;
  --md-primary-fg-color--dark:  #ec693c;
}
.md-header__button.md-logo img {
    width: 48px;
    height: 48px;
}

[data-md-color-scheme="slate"] {
  --md-hue: 240; 
}

a.ext-link:after {
    display: inline-block;
    content: url("../images/ext-link.svg");
    width: .7em;
    height: .7em;
    margin: 0 3px 0 3px;
    /* Does nothing, surprisingly
    fill: #ff0000;
    */
}

/* Visual Elements Cards */
.tp-ve-cards {
  display: flex;
  align-items: stretch;
  flex-direction: row;
  justify-content: flex-start;
  /*
  background: #E7F3F1;
  border: 0.5em solid red;
  font-family: 'Open Sans', sans-serif;
 */
  flex-wrap: wrap;
}
.tp-ve-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 20em;
  min-width: 12em;
  overflow: hidden;
  border-radius: 7px;
  text-decoration: none;
  background: var(--md-default-bg-color);
  margin: 1em 0 0 1em;
  padding: 3em 2em;
  box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.1);
  transition: background .5s ease;
  flex: 0 1 calc(33% - 2em);
  position: relative;
}
[data-md-color-scheme="default"] .tp-ve-card p {
  color: #080808;
}
[data-md-color-scheme="slate"] .tp-ve-card p {
  color: var(--md-primary-fg-color--light);
}

.tp-ve-card div {
  color: var(--md-primary-fg-color);
  font-size: 1.125em;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-align: center;
  margin: auto 0 1em;
  transition: opacity .2s ease-in-out;
}

.tp-ve-card img {
  transition: transform .5s ease-in-out;
  position: absolute;
  top: -9999px;
  left: -9999px;
}


/*Hide images when the corresponding theme is off*/
[data-md-color-scheme="default"] .tp-ve-card img.tp-ve-d,
[data-md-color-scheme="default"] .tp-ve-card img.tp-ve-dh,
[data-md-color-scheme="slate"] .tp-ve-card img.tp-ve-l,
[data-md-color-scheme="slate"] .tp-ve-card img.tp-ve-lh{
  position: absolute;
  top: -9999px;
  left: -9999px;
}

/*Hide hover images when the card is not hovered*/
[data-md-color-scheme="default"] .tp-ve-card img.tp-ve-lh,
[data-md-color-scheme="slate"] .tp-ve-card img.tp-ve-dh{
  transform: translateY(0);
  position: absolute;
  top: -9999px;
  left: -9999px;
}


/*Hide base images when the card is hovered*/
[data-md-color-scheme="default"] .tp-ve-card:hover img.tp-ve-l,
[data-md-color-scheme="slate"] .tp-ve-card:hover img.tp-ve-d {
  transform: translateY(-2em);
  visibility: hidden;
}

/*Display base images when the card is not hovered*/
[data-md-color-scheme="default"] .tp-ve-card img.tp-ve-l,
[data-md-color-scheme="slate"] .tp-ve-card img.tp-ve-d {
  transform: translateY(0);
  position: static;
  top: 0;
  left: 0;
}

/*Display hover images when the card is hovered*/
[data-md-color-scheme="default"] .tp-ve-card:hover img.tp-ve-lh,
[data-md-color-scheme="slate"] .tp-ve-card:hover img.tp-ve-dh{
  transform: translateY(-2em);
  position: static;
  top: 0;
  left: 0;
}


.tp-ve-card p {
  opacity: 0;
  color: #FFFFFF;
  font-weight: 600;
  line-height: 1.2;
  margin: 0 0 1.25em;
  transform: translateY(-2em);
  transition: opacity .2s ease 0s, transform .5s ease-in-out;
}

.tp-ve-card:hover {
  opacity: 0.8;
}
.tp-ve-card:hover div {
  transition: translate 2s ease-in-out;
  opacity: 0;
}

.tp-ve-card:hover p {
  transition: opacity .5s ease .5s, transform .5s ease-in-out;
  opacity: 1;
  transform: translateY(0);
}
