repos:
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: 'v0.961'  # Use the sha / tag you want to point at
    hooks:
    -   id: mypy
        additional_dependencies: [
                'types-Markdown',
                'types-python-dateutil',
                'types-pytz',
                'types-tzlocal',
        ]
-   repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.13
    hooks:
    -   id: forbid-crlf
    -   id: remove-crlf
    -   id: forbid-tabs
    -   id: remove-tabs
    -   id: insert-license
        files: \.py$
        args:
        - --license-filepath
        - .license-header
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    - id: trailing-whitespace
    - id: end-of-file-fixer
    - id: check-merge-conflict
    - id: check-yaml
      args: [--unsafe]
-   repo: https://github.com/pre-commit/mirrors-isort
    rev: v5.9.3
    hooks:
    - id: isort
-   repo: https://github.com/ambv/black
    rev: 22.3.0
    hooks:
    - id: black
      args: [--line-length=120]
      language_version: python3
-   repo: https://github.com/pycqa/flake8
    rev: 3.9.2
    hooks:
    -   id: flake8
        additional_dependencies: [flake8-typing-imports==1.10.0]
