[run]
# uncomment the following to omit files during running
omit =
    proxy.py
    _gui_cli.py
    *tests*
[report]
exclude_lines =
    pragma: no cover
    if t.TYPE_CHECKING:
    def __repr__
    if self.debug:
    if settings.DEBUG
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:
    def main
