# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mkdocs build dir
site/

# Demo Testing File
demo*.*
*.csv
object_selection.py
gui_assets
dataset

# Demos folder
demo*/
!demos/

# Docker local dev
docker-compose-dev*.yml
Dockerfile.dev

# Ignore jupyter notebook files except the simple_gui.ipynb
!simple_gui.ipynb

# GUI generation
taipy_webapp/

# Packaging
gui/packaging/taipy-gui.gen.d.ts

# GUI Build
webapp

!data
