[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = ">=2.0.2,<2.3.0"
networkx = "==2.6"
openpyxl = "==3.1.2"
pyarrow = "==14.0.2"
pymongo = {extras = ["srv"], version = "==4.2.0"}
sqlalchemy = "==2.0.16"
toml = "==0.10"
taipy-config = {ref = "develop", git = "https://github.com/avaiga/taipy-config.git"}

[dev-packages]
black = "*"
flake8 = "*"
flake8-docstrings = "*"
isort = "*"
mypy = "*"
pre-commit = "*"
pytest = "*"
pytest-cov = "*"
pytest-mock = ">=3.6"
tox = ">=3.24"
types-toml = ">=0.10.0"
autopep8 = "*"
mongomock = ">=4.1.2"

[requires]
python_version = "3"

[pipenv]
allow_prereleases = true
