name: Publish on Pypi

on:
  workflow_dispatch:
    inputs:
      version:
        description: "The Pypi package version to create (ex: 1.0.0)"
        required: true

jobs:
  test-package:
    timeout-minutes: 20
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: Extract branch name
        shell: bash
        run: echo "##[set-output name=branch;]$(echo ${GITHUB_REF#refs/heads/})"
        id: extract_branch

      - name: Ensure package version is properly set
        run: |
          echo 'version="${{ github.event.inputs.version }}"' | grep -f - setup.py

      - name: Validate branch name
        run: |
          echo """
          import re, sys
          setup = open('setup.py').read()
          x = re.search(r'version=\"(\d+)\.(\d+)\.(\d+)(?:\.([a-zA-Z0-9_]+))?\"', setup)
          if not x:
              raise ValueError('Invalid version expression')
          if f'release/{x.group(1)}.{x.group(2)}' != sys.argv[1]:
              raise ValueError('Branch name mismatch')
          """ > /tmp/check.py
          python /tmp/check.py "${{ steps.extract_branch.outputs.branch }}"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install build

      - name: Build and test the package
        run: |
          python setup.py build_py && python -m build
          pip install dist/*.tar.gz

  publish-to-pypi:
    needs: [test-package]
    timeout-minutes: 20
    environment: publish
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install build

      - name: Build package
        run: python setup.py build_py && python -m build

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          user: __token__
          password: ${{ secrets.PYPI_API_TOKEN }}

  test-published-package:
    needs: [publish-to-pypi]
    timeout-minutes: 5
    strategy:
      matrix:
        python-versions: ['3.8','3.9','3.10']
        os: [ubuntu-latest,windows-latest,macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-versions }}

      - name: Install and test package
        run: |
          pip install --no-cache-dir ${{ github.event.repository.name }}==${{ github.event.inputs.version }}
