name: Verify pyi file generation

on:
  workflow_dispatch:
  pull_request:
    branches: [ develop ]

jobs:
  generate-pyi:
    timeout-minutes: 20
    strategy:
      matrix:
        python-versions: ['3.10']
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-versions }}
      - name: Install pipenv
        run: |
          pip install pipenv
          pipenv install --dev --skip-lock
      - name: Generate pyi
        run: cp tools/generate_pyi.py temp.py && pipenv run python temp.py && rm temp.py
